:root {
  --body-bg-color: #141414;
  /*
    --header-bg-color: #49637f;
    --text-color: black;
    --header-txt-color: white;
    */
  --header-bg-color: #242424;
  --text-color: white;
  --header-txt-color: white;
  --accent-color: #edd255;
}

html {
  font-family: 'Ubuntu', sans-serif;
}

/*header*/
header {
  background-color: var(--header-bg-color);
  position: fixed;
  top: 0;
  z-index: 2;
}

.header-list {
  margin-top: 0px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

.header-list li {
  list-style-type: none;
  padding-left: 5px;
}

header a {
  color: var(--header-txt-color)
}

header a:hover {
  color: var(--accent-color);
}

/*footer*/
footer {
  padding-top: 10px;
}

footer img {
  border: none;
  filter: invert() drop-shadow(5px 5px 0 black);
  width: 75px;
  height: 75px;
}

footer img:hover {
  /* There's no good way to do this, but this site calculates the values for you.
    https://codepen.io/sosuke/pen/Pjoqqp
    Currently calibrated for the accent color #edd255*/
  filter: invert(85%) sepia(39%) saturate(720%) hue-rotate(349deg) brightness(103%) contrast(86%) drop-shadow(5px 5px 0 black);
}

footer nav {
  margin-top: -30px;
}

footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

footer li {
  list-style-type: none;
  padding-right: 5px;
}

footer p {
  margin-top: -5px;
  display: flex;
  justify-content: center;
}


/*general*/
body {
  margin: 0;
  padding-top: 200px;
  background-color: var(--body-bg-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  color: var(--text-color);
}

nav {
  width: 100vw;
}

h1 {
  text-align: center;
  font-size: 64px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: var(--text-color);
}

h2 {
  font-size: 48px;
  color: var(--text-color);
}

h3 {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-size: 36px;
  color: var(--text-color);
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -50px;
}

.icon {
  border: none;
  width: 20px !important;
}

hr {
  top: 20px;
  border: none;
  height: 5px;
  background: var(--accent-color);
  margin-bottom: 50px;
  margin-left: -20vw;
  margin-right: -20vw;
}

iframe {
  border: 10px ridge var(--accent-color);
}


.text-box {
  width: 1800px;
}

.text-box p {
  width: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.resume iframe {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 18px;
  color: var(--text-color);
  text-align: justify;
  text-align-last: left;
  margin-left: auto;
  margin-right: auto;
}

img {
  border: 10px ridge var(--accent-color);
}

li {
  color: var(--text-color);
}

/*talent list*/
.talent-list ul {
  text-align: center;
  flex-direction: column !important;
  justify-content: center;
  list-style-type: none;
}

.talent-list li {
  list-style-type: none;
}

.talent-list a {
  border: 5px solid rgba(0, 0, 0, 0);
}

.talent-list a:hover {
  border-top: 5px solid var(--accent-color);
  border-bottom: 5px solid var(--accent-color);
}

.talent-list h2 {
  /*color: #89AA90;*/
  font-size: min(max(28px, 2.5vw), 36px) !important;
  color: var(--text-color);
  font-size: 48px;
  overflow-x: wrap;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.talent-list p {
  font-size: min(max(13px, 0.9vw), 18px) !important;
  padding-left: 25px;
  padding-right: 25px;
}

.talent-list a {
  text-decoration: none;
  color: var(--text-color);
}

/*project*/
.project li {
  list-style-type: none;
  text-align: center;
  font-size: 18px;
}

.project img {
  width: 750px;
}

.project iframe {
  width: 750px;
  height: 422px;
}

a.project {
  color: var(--accent-color);
}

.project h2 a {
  color: var(--text-color);
}

.project h2 a:hover {
  color: var(--accent-color);
}

.project p {
  padding-left: 25px;
  border-left: 5px ridge var(--accent-color);
}

/* blog */
.blog h2 {
  width: fit-content;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 25px;
  border-left: ridge 6px var(--accent-color);
}

.blog h3 {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 25px;
  border-left: ridge 6px var(--accent-color);
}

.blog ul {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog li {
  margin-left: 75px;
  font-size: 18px;
  text-align: left;
}

.blog img {
  width: 500px;
}

.horizontal-list ul {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  display: flex;
}

.horizontal-list li {
  margin-right: 10px;
}

.horizontal-list li p {
  width: 500px;
  padding-left: 10px;
  border-left: 5px ridge var(--accent-color);
  font-size: 14px;
}


div.spoiler {
	overflow: hidden;
	position: relative;
	margin: 0;
	padding: 0;
}
img.spoilered-img {
  border: 10px ridge var(--accent-color);
  filter: blur(20px) grayscale(100%);
  transition: 0.3s;
  transform: scale(1.03);
}

div.nospoiler img {
  filter: none;
}

.spoiler-button {
	position: relative;
	top: -550px;
	bottom: 0;
	left: 40px;
	right: 0;
	height: 30px !important;
  width: 30px !important;
	cursor: pointer;
  border:none !important;
  background: transparent;
  z-index: 1;
}

.spoiler-button img {
  border: none;
  height: 30px !important;
  width: 30px !important;
  filter:invert();
  background-color: white;
  border: 5px solid black;
}